:root {
    /* Silver&Flame Colors */
    --silver: #dcdcde;
    --grey: #a3a5a8;
    --lightblue: #b3cbe0;
    --blue: #5e84b1;
    --darkblue: #153960;

    /* Krovna Colors */
    
    /* Website Colors */
    --black: #000000;
    --white: #ffffff;
    --darkpurple: #110015;
    --orange: #FF8B04;
    --darkgold: #B1863C;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--darkpurple);
}

.navbar {
    color: var(--white);
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .teamlogo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    height: 120px;
    width: auto;
}

.navbar .teamtextlogo {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    width: auto;
    margin-left: -750px;
}

.nav {
    display: flex;
    gap: 60px;
    padding-right: 40px;
    font-size: 20px;
}

.nav p a {
    color: var(--white);
    text-decoration: none;
}

.nav p a:visited, .nav p a:hover {
    color: var(--darkgold);
    text-decoration: underline;
}

.heroimg {
position: relative;
}

.heroimg img {
display: block;
width: 100%;
height: auto;
max-height: 80vh;
object-fit: cover;
}

.heroimg .krovnalogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: auto;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 16px;
}